@{
    ViewData["Title"] = "Hello Mockups";
}

<div class="container-fluid">
    <h1>Mockups</h1>
    <ul>
        <li><a href="/Home/Quiz">Quiz</a></li>
        <li><a href="/Home/QuizResult">QuizResult</a></li>
    </ul>
</div>
